// @tailwind base;
@tailwind components;
@tailwind utilities;

$layout-breakpoint-small: 600px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-large: 992px;

$main-color: #8056eb;

$main-container-padding: 4rem;
$main-container-padding-mobile: 2rem;
