.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-weight: 600;
}

.categoryTitle {
  color: var(--main-color);
  font-weight: 600;
}

.grid {
  display: grid;
  gap: 1rem;
}
