.title {
  margin: 3rem 5rem;
}
.gridContainer {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 80px 80px;
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  //   margin: 5rem 5rem;
  grid-template-rows: fit-content(200px);
}
.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  grid-template-columns: fit-content(200px);
}
.pageImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  //   object-fit: contain;
}
.wrapper {
  display: flex;
  justify-content: space-evenly;
}
.button {
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border-style: none;
  cursor: pointer;
  color: #8056eb;
  background-color: #e5ddfb;
  font-size: 0.9rem;
}
