.gridContainer {
  display: grid;
  grid-template-columns: 70% 40%;
  grid-template-rows: 80px 80px;
  gap: 10px;
  padding: 10px;
  margin: 5rem 5rem;
  grid-template-rows: fit-content(200px);
  /* dubliuojasi grid-template-rows */
  width: 80%;
}
.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  grid-template-columns: fit-content(200px);
}
.pageImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.infoCard {
  display: flex;
  justify-content: space-evenly;
}
.button {
  /* cleaning rodos ne button? */
  padding: 0.4rem 0.8rem;
  border-radius: 30px;
  border-style: none;
  cursor: pointer;
  color: #8056eb;
  background-color: #e5ddfb;
  font-size: 0.9rem;
  width: 80px;
  text-align: center;
}
.address,
.email {
  color: #a8a8a8;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  margin: 5px 0;
}
.pageTitle {
  /* margin-top: 1rem; */
  font-size: 2.2rem;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 80px;
  margin: 1rem 0;
}
.info {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: start;
}
.availableTab {
  display: flex;
  justify-content: right;
  align-items: end;
  flex-direction: column;
  gap: 15px;
}
.bookingBox {
  width: 55px;
  height: 44px;
  color: white;
  background-color: #8056eb;
  border-radius: 10px;
  border-style: none;
}
.bookingBox:hover {
  background-color: #9270e7;
  cursor: pointer;
}
.avaiName {
  color: #8056eb;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
}
.bookings {
  color: #a8a8a8;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  margin: 5px 0;
}
.descriptionCard {
  display: flex;
  font-family: Roboto, sans-serif;
  align-items: start;
  flex-direction: column;
}
.descriptionText {
  text-align: left;
  color: rgb(46, 41, 41);
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  word-spacing: 8px;
  letter-spacing: 1px;
  width: 90%;
}
.bookApp {
  background-color: #8056eb;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  margin-top: 3rem;
  width: 90%;
}
.bookApp:hover {
  background-color: #9270e7;
  cursor: pointer;
}
.bookTitle {
  text-align: left;
  font-family: Roboto, sans-serif;
  font-size: 20px;
}
.infoCardBook {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;
  gap: 15px;
}
.pageImageBook {
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.pageTitleBook {
  font-family: Roboto, sans-serif;
  font-size: 13px;
}
.addressBook,
.nameBook {
  font-family: Roboto, sans-serif;
  font-size: 13px;
}
