.title {
  font-size: 1.2rem;
  margin: 2rem 0rem;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.loading {
  justify-content: center;
}

@media (min-width: $layout-breakpoint-small) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $layout-breakpoint-medium) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $layout-breakpoint-large) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
